<div align="center">
    <h3>INI ADALAH HALAMAN HOME</h3>
</div>
{{hallo}}
{{nama}}
<div align="center">
    <table class="table table-striped table-bordered" style="width: 30%; " >
        <thead>
            <tr>
                <td colspan="2" align="center">Input Data Peserta</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="120" align="center">Nama</td>
                <td><input type="text" ng-model="currentPeserta.nama" style="width: 100%"/></td>
            </tr>
            <tr>
                <td width="120" align="center">Alamat</td>
                <td><input type="text" ng-model="currentPeserta.alamat" style="width: 100%"/></td>
            </tr> 
            <tr>
                <td colspan="2" align="right">
                    <button class="btn btn-primary" ng-click="simpanData(currentPeserta)">Simpan</button>
                    <button class="btn btn-primary" ng-click="getDataPeserta()">TampilkanData</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>

<!--<br>-->

<!--Nama<input type="text" ng-model="currentPeserta.nama" title="Nama Peserta" required=""/> <br>-->
<!--Alamat<input type="text" ng-model="currentPeserta.alamat" title="Alamat Peserta" required=""/>-->
<!--<br>
<button class="btn btn-primary" ng-click="simpanData(currentPeserta)">Simpan</button>  
<button class="btn btn-primary" ng-click="getDataPeserta()">TampilkanData</button>
<br>-->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Nama</td>
            <td>Alamat</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="peserta in listPeserta">
            <td>{{peserta.nama}}</td>
            <td>{{peserta.alamat}}</td>
            <td><button class="btn btn-danger" ng-click="hapusData(peserta.id)">Hapus</button>
                <button class="btn btn-primary" ng-click="editData(peserta)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>